@model ProektnaZadaca.Models.Flight

@{
    Layout = null;
}

@{
    ViewBag.Title = "Details";
}

<div style="background: rgb(109,213,237); background: linear-gradient(180deg, rgba(109,213,237,1) 0%, rgba(33,147,176,1) 62%); height: 100%; padding-bottom: 753px; margin-top: -70px;background-repeat: no-repeat; background-attachment: fixed; ">
    <h2>Details</h2>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.flightName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.flightName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.totalSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.totalSeats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
    </div>
    </div>
